<button (click)="exibirPessoasMaisVelhas()">Mostrar Pessoas com 60 anos ou mais</button>

<table *ngIf="pessoasMaisVelhas.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>CPF</th>
      <th>Idade</th>
      <th>Endereço</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoasMaisVelhas">
      <td>{{ pessoa.ID }}</td>
      <td>{{ pessoa.NOME }}</td>
      <td>{{ pessoa.SOBRENOME }}</td>
      <td>{{ pessoa.CPF }}</td>
      <td>{{ pessoa.idade }}</td>
      <td>{{ pessoa.ENDERECO }}</td>
    </tr>
  </tbody>
</table>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Idade</th>
        <th>Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.ID }}</td>
        <td>{{ pessoa.NOME }}</td>
        <td>{{ pessoa.SOBRENOME }}</td>
        <td>{{ pessoa.CPF }}</td>
        <td>{{ pessoa.idade }}</td>
        <td>{{ pessoa.ENDERECO }}</td>
      </tr>
    </tbody>
  </table>
  
